<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>HttpServlet_(3)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>test.HttpDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/firstlink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>test.HttpDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/secondlink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>test.HttpDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/employeelink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet4</servlet-name>
    <servlet-class>test.HttpDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet4</servlet-name>
    <url-pattern>/courselink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet5</servlet-name>
    <servlet-class>test.HttpDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet5</servlet-name>
    <url-pattern>/calculatorlink</url-pattern>
  </servlet-mapping>
</web-app>